body {
    background-color: #c3e6cb;
}

h1 {
    margin: 20px;
}

div {
    color: #4c4d4f;
}

div.game-boy > img.img-fluid.angepasst {
    transform: scale(0.57) translate(0, 15px);
}

div.row.justify-content-end > a {
    color: #4c4d4f;
    margin:20px;
}